<style>
 .message-content{
   font-family: Arial, Helvetica, sans-serif;
   max-width: 600px;
   font-size: 20px;
   line-height:  21px;
 }
 h1 {
   display: flex;
   justify-items: center;
   justify-content: center;
   text-align: center;
   font-size: 30px;
   color: rgba(255, 81, 17, 0.925);
 }
</style>

<div class="message-content">
  <h1> GoBarber <br/></h1>
  <p>Ola,{{name}}</p>
  <p>Parece que uma troca de senha para sua conta foi solicitada.</p>
  <p>Se foi voce,entao clique no link abaixo para escolher uma nova senha</p>
   <p>
     <a href="{{link}}">Resetar minha Senha</a>
   </p>
   <p>Se nao foi voce,entao descarte esse email !</p>

   <p>Obrigado! <br/> <strong>Equipe GoBarber 💜</strong> </p>

</div>
